<style>
    .home{
        width: 100vw;
        height: 83vh;
        background-color: lightskyblue;
    }
</style>



<header>
<nav class="navbar navbar-light bg-primary">
  <span class="navbar-brand mb-0 h1">welcome</span>
  <button><a href="/home/logout">logout</a></button>
</nav>
</header>
<div class="home">
<section>
    <h2>Types of artificial intelligence—weak AI vs. strong AI</h2>
    <p>Weak AI—also called Narrow AI or Artificial Narrow Intelligence (ANI)—is AI trained and focused to perform specific tasks. Weak AI drives most of the AI that surrounds us today. ‘Narrow’ might be a more accurate descriptor for this type of AI as it is anything but weak; it enables some very robust applications, such as Apple's Siri, Amazon's Alexa, IBM Watson, and autonomous vehicles.

</p>
<p>Strong AI is made up of Artificial General Intelligence (AGI) and Artificial Super Intelligence (ASI). Artificial general intelligence (AGI), or general AI, is a theoretical form of AI where a machine would have an intelligence equaled to humans; it would have a self-aware consciousness that has the ability to solve problems, learn, and plan for the future. Artificial Super Intelligence (ASI)—also known as superintelligence—would surpass the intelligence and ability of the human brain. While strong AI is still entirely theoretical with no practical examples in use today, that doesn't mean AI researchers aren't also exploring its development. In the meantime, the best examples of ASI might be from science fiction, such as HAL, the superhuman, rogue computer assistant in 2001: A Space Odyssey.</p>
</section>

<section>
    <h2>Deep learning vs. machine learning</h2>
    <p>Since deep learning and machine learning tend to be used interchangeably, it’s worth noting the nuances between the two. As mentioned above, both deep learning and machine learning are sub-fields of artificial intelligence, and deep learning is actually a sub-field of machine learning.

</p>
<p>Deep learning is actually comprised of neural networks. “Deep” in deep learning refers to a neural network comprised of more than three layers—which would be inclusive of the inputs and the output—can be considered a deep learning algorithm. This is generally represented using the following diagram:

</p>

<p>The way in which deep learning and machine learning differ is in how each algorithm learns. Deep learning automates much of the feature extraction piece of the process, eliminating some of the manual human intervention required and enabling the use of larger data sets. You can think of deep learning as "scalable machine learning" as Lex Fridman noted in same MIT lecture from above. Classical, or "non-deep", machine learning is more dependent on human intervention to learn. Human experts determine the hierarchy of features to understand the differences between data inputs, usually requiring more structured data to learn.

</p>
</section>
</div>
<footer class="bg-primary text-center text-lg-start" >
  <!-- Copyright -->
  <div class="text-center p-3" >
   <h4>visit again:Thankyou</h4>
  </div>
  <!-- Copyright -->
</footer>
</footer>
